<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Music</string>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>Rock</string>
			<key>items</key>
			<array>
				<dict>
					<key>name</key>
					<string>Pearl Jam</string>
					<key>items</key>
					<array>
						<dict>
							<key>name</key>
							<string>No Code</string>
                            <key>imageName</key>
                            <string>nocode.png</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Sometimes</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Hail, Hail</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Who You Are</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>Ten</string>
                            <key>imageName</key>
                            <string>ten.png</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Once</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Even Flow</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Alive</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Why Go</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Black</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Alice In Chains</string>
					<key>items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Nothing Safe</string>
                            <key>imageName</key>
                            <string>nothingsafe.png</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Again</string>
								</dict>
								<dict>
									<key>name</key>
									<string>I Stay Away</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Get Born Again</string>
								</dict>
								<dict>
									<key>name</key>
									<string>We Die Young</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>Dirt</string>
                            <key>imageName</key>
                            <string>dirt.png</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Them Bones</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Dam That River</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Rain When I Die</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Down in A Hole</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Audioslave</string>
					<key>items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Out Of Exile</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Your Time Has Come</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Out Of Exile</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Be Yourself</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Doesn&apos;t Remind Me</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Drown Me Slowly</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Pop</string>
			<key>items</key>
			<array>
				<dict>
					<key>name</key>
					<string>The All-American Reject</string>
					<key>items</key>
					<array>
						<dict>
							<key>name</key>
							<string>The All-American Rejects</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Swing, Swing</string>
								</dict>
								<dict>
									<key>name</key>
									<string>One More Sad Song</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Why Worry</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Don&apos;t Leave Me</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Drive Away</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>Move Along</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Dirty Little Secret</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Stab My Back</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Move Along</string>
								</dict>
								<dict>
									<key>name</key>
									<string>It Ends Tonight</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Change Your Mind</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>When The World Comes Down</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>I Wanna</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Fallin&apos; Apart</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Damn Girl</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Gives You Hell</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Mona Lisa</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Jason Mraz</string>
					<key>items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Waiting For My Rocket To Come</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>You And I Both</string>
								</dict>
								<dict>
									<key>name</key>
									<string>I&apos;ll Do Anything</string>
								</dict>
								<dict>
									<key>name</key>
									<string>The Remedy</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Who Needs Shelter</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Curbside Prophet</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>The Cardigans</string>
					<key>items</key>
					<array>
						<dict>
							<key>name</key>
							<string>A Camp</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Frequest Flyer</string>
								</dict>
								<dict>
									<key>name</key>
									<string>I Can Buy You</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Angle Of Sadness</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Such A Bad Comedown</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Song For The Leftovers</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>First Band On The Moon</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Your New Cuckoo</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Been It</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Heartbreaker</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Happy Meal II</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Step On Me</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>Gran Turismo</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Paralyzed</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Erase-Rewind</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Explode</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Starter</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Hanging Around</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Punk</string>
			<key>items</key>
			<array>
				<dict>
					<key>name</key>
					<string>The Ataris</string>
					<key>items</key>
					<array>
						<dict>
							<key>name</key>
							<string>So Long, Astoria</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>So Long, Astoria</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Takeoffs And Landings</string>
								</dict>
								<dict>
									<key>name</key>
									<string>In This Diary</string>
								</dict>
								<dict>
									<key>name</key>
									<string>My Reply</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Unopened Letter To The World</string>
								</dict>
								<dict>
									<key>name</key>
									<string>The Saddest Song</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>The Offspring</string>
					<key>items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Conspiracy Of One</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Come Out Swinging</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Original Prankster</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Want You Bad</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Million Mile Away</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Damn, I Changed Again</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Living In Chaos</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>Ixnay On The Hombre</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Disclaimer</string>
								</dict>
								<dict>
									<key>name</key>
									<string>The Meaning Of Life</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Mota</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Me &amp; My Old Lady</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Cool To Hate</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Leave It Behind</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>Me Myself &amp; Irene</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Totalimmortal</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Electronic</string>
			<key>items</key>
			<array>
				<dict>
					<key>name</key>
					<string>The Crystal Method</string>
					<key>items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Weapons of Mass Distortion</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Acetone</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Bound Too Long</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Keep Hope Alive</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Legion Of Boom</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Now Is The Time</string>
								</dict>
								<dict>
									<key>name</key>
									<string>She&apos;s My Pusher</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Daft Punk</string>
					<key>items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Discovery</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>One More Time</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Aerodynamic</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Digital Love</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Harder, Better, Faster, Stronger</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Crescendolls</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Nightvision</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>Human After All</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Human After All</string>
								</dict>
								<dict>
									<key>name</key>
									<string>The Prime Time Of Your Life</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Robot Rock</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Steam Machine</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Make Love</string>
								</dict>
								<dict>
									<key>name</key>
									<string>The Brainwasher</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>Around The World</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Around The World</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Glitch Mob</string>
					<key>items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Drink The Sea</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Animus Vox</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Bad Wings</string>
								</dict>
								<dict>
									<key>name</key>
									<string>How To Be Eaten By A Woman</string>
								</dict>
								<dict>
									<key>name</key>
									<string>A Dream Within A Dream</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Fistful Of Silence</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Between Two Points</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
